# Handling Missing Values

In [1]:
# important imports
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [2]:
# import dataset
df = pd.read_csv('data.csv')

In [3]:
# short preview of the data
df

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [4]:
# the number of nan values in the dataset
df.isna().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
BMI                                 34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          23
HIV/AIDS                            16
GDP                                448
Population                         652
thinness  1-19 years                50
thinness 5-9 years                  50
Income composition of resources    167
Schooling                          163
dtype: int64

In [5]:
# removing some rows containing nan values from the dataset 
df1 = df[df['Life expectancy'].notna()]
df1 = df1[df1['Polio'].notna()]
df1 = df1[df1['HIV/AIDS'].notna()]
df1 = df1 = df1[df1['BMI'].notna()]

the cell above removes rows with nan columns in the next columns: 'Life expectancy', 'Adult Mortality', 'BMI', 'Polio', 'Diphtheria', 'thinness  1-19 years', 'thinness 5-9 years'.
Because these columns happen to have NAN values in the same rows, this action removes 66 rows from th dataset, which is approx 2% instead of 212 rows (10+10+34+19+23+16+50+50).

In [6]:
# the remaining NAN values in the dataset
df1.isna().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                      0
Adult Mortality                      0
infant deaths                        0
Alcohol                            174
percentage expenditure               0
Hepatitis B                        524
Measles                              0
BMI                                  0
under-five deaths                    0
Polio                                0
Total expenditure                  211
Diphtheria                           0
HIV/AIDS                             0
GDP                                419
Population                         628
thinness  1-19 years                 0
thinness 5-9 years                   0
Income composition of resources    144
Schooling                          144
dtype: int64

In [7]:
# printing info about the data type of each column
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2872 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2872 non-null   object
 1   Year                             2872 non-null   int64
 2   Status                           2872 non-null   object
 3   Life expectancy                  2872 non-null   float64
 4   Adult Mortality                  2872 non-null   float64
 5   infant deaths                    2872 non-null   int64
 6   Alcohol                          2698 non-null   float64
 7   percentage expenditure           2872 non-null   float64
 8   Hepatitis B                      2348 non-null   float64
 9   Measles                          2872 non-null   int64
 10  BMI                              2872 non-null   float64
 11  under-five deaths                2872 non-null   int64
 12  Polio                            2872 non-null   float64
 13  Total expenditure                2661 non-null   float64
 14  Diphtheria                       2872 non-null   float64
 15  HIV/AIDS                         2872 non-null   float64
 16  GDP                              2453 non-null   float64
 17  Population                       2244 non-null   float64
 18  thinness  1-19 years             2872 non-null   float64
 19  thinness 5-9 years               2872 non-null   float64
 20  Income composition of resources  2728 non-null   float64
 21  Schooling                        2728 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 516.1+ KB

In [8]:
# creating a map for encoding columns with object Dtype
labels = df1['Country'].astype('category').cat.categories.tolist()
replace_map = {'Country' : {k: v for k,v in zip(labels,list(range(0,len(labels))))}, 'Status' : {'Developing' : 0, 'Developed' : 1}}

In [9]:
# replacing the values in the dataframe with values from the map above
df1.replace(replace_map, inplace=True)

In [10]:
# Columns containing NAN values have continuous values. This is why I use an imputer with strategy set as mean 
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
df_transformed_mean = imputer.fit_transform(df1)

In [11]:
# Columns containing NAN values have continuous values. This is why I use an imputer with strategy set as median 
imputer = SimpleImputer(missing_values=np.nan, strategy='median')
df_transformed_median = imputer.fit_transform(df1)

In [12]:
# looking at the forat of the obtained result fter imputing (it is an array)
df_transformed_median

array([[0.000e+00, 2.015e+03, 0.000e+00, ..., 1.730e+01, 4.790e-01,
        1.010e+01],
       [0.000e+00, 2.014e+03, 0.000e+00, ..., 1.750e+01, 4.760e-01,
        1.000e+01],
       [0.000e+00, 2.013e+03, 0.000e+00, ..., 1.770e+01, 4.700e-01,
        9.900e+00],
       ...,
       [1.790e+02, 2.002e+03, 0.000e+00, ..., 1.300e+00, 4.270e-01,
        1.000e+01],
       [1.790e+02, 2.001e+03, 0.000e+00, ..., 1.700e+00, 4.270e-01,
        9.800e+00],
       [1.790e+02, 2.000e+03, 0.000e+00, ..., 1.120e+01, 4.340e-01,
        9.800e+00]])

In [13]:
# transforming the obtained arrays into a data frames with the same column names as the initial dataset
df_mean = pd.DataFrame(df_transformed_mean, columns = df1.columns)
df_mean

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,0.0,2015.0,0.0,65.0,263.0,62.0,0.01,71.279624,65.0,1154.0,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,0.0,2014.0,0.0,59.9,271.0,64.0,0.01,73.523582,62.0,492.0,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,0.0,2013.0,0.0,59.9,268.0,66.0,0.01,73.219243,64.0,430.0,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,0.0,2012.0,0.0,59.5,272.0,69.0,0.01,78.184215,67.0,2787.0,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,0.0,2011.0,0.0,59.2,275.0,71.0,0.01,7.097109,68.0,3013.0,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2867,179.0,2004.0,0.0,44.3,723.0,27.0,4.36,0.000000,68.0,31.0,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2868,179.0,2003.0,0.0,44.5,715.0,26.0,4.06,0.000000,7.0,998.0,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2869,179.0,2002.0,0.0,44.8,73.0,25.0,4.43,0.000000,73.0,304.0,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2870,179.0,2001.0,0.0,45.3,686.0,25.0,1.72,0.000000,76.0,529.0,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2871,179.0,2000.0,0.0,46.0,665.0,24.0,1.68,0.000000,79.0,1483.0,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [14]:
# saving df_mean on my PC as data1.csv
df_mean.to_csv('data1.csv', index = False)

In [15]:
# the encoded countries
replace_map

{'Country': {'Afghanistan': 0,
  'Albania': 1,
  'Algeria': 2,
  'Angola': 3,
  'Antigua and Barbuda': 4,
  'Argentina': 5,
  'Armenia': 6,
  'Australia': 7,
  'Austria': 8,
  'Azerbaijan': 9,
  'Bahamas': 10,
  'Bahrain': 11,
  'Bangladesh': 12,
  'Barbados': 13,
  'Belarus': 14,
  'Belgium': 15,
  'Belize': 16,
  'Benin': 17,
  'Bhutan': 18,
  'Bolivia (Plurinational State of)': 19,
  'Bosnia and Herzegovina': 20,
  'Botswana': 21,
  'Brazil': 22,
  'Brunei Darussalam': 23,
  'Bulgaria': 24,
  'Burkina Faso': 25,
  'Burundi': 26,
  'Cabo Verde': 27,
  'Cambodia': 28,
  'Cameroon': 29,
  'Canada': 30,
  'Central African Republic': 31,
  'Chad': 32,
  'Chile': 33,
  'China': 34,
  'Colombia': 35,
  'Comoros': 36,
  'Congo': 37,
  'Costa Rica': 38,
  'Croatia': 39,
  'Cuba': 40,
  'Cyprus': 41,
  'Czechia': 42,
  "Democratic People's Republic of Korea": 43,
  'Democratic Republic of the Congo': 44,
  'Denmark': 45,
  'Djibouti': 46,
  'Dominican Republic': 47,
  'Ecuador': 48,
  'Egypt': 49,
  'El Salvador': 50,
  'Equatorial Guinea': 51,
  'Eritrea': 52,
  'Estonia': 53,
  'Ethiopia': 54,
  'Fiji': 55,
  'Finland': 56,
  'France': 57,
  'Gabon': 58,
  'Gambia': 59,
  'Georgia': 60,
  'Germany': 61,
  'Ghana': 62,
  'Greece': 63,
  'Grenada': 64,
  'Guatemala': 65,
  'Guinea': 66,
  'Guinea-Bissau': 67,
  'Guyana': 68,
  'Haiti': 69,
  'Honduras': 70,
  'Hungary': 71,
  'Iceland': 72,
  'India': 73,
  'Indonesia': 74,
  'Iran (Islamic Republic of)': 75,
  'Iraq': 76,
  'Ireland': 77,
  'Israel': 78,
  'Italy': 79,
  'Jamaica': 80,
  'Japan': 81,
  'Jordan': 82,
  'Kazakhstan': 83,
  'Kenya': 84,
  'Kiribati': 85,
  'Kuwait': 86,
  'Kyrgyzstan': 87,
  "Lao People's Democratic Republic": 88,
  'Latvia': 89,
  'Lebanon': 90,
  'Lesotho': 91,
  'Liberia': 92,
  'Libya': 93,
  'Lithuania': 94,
  'Luxembourg': 95,
  'Madagascar': 96,
  'Malawi': 97,
  'Malaysia': 98,
  'Maldives': 99,
  'Mali': 100,
  'Malta': 101,
  'Mauritania': 102,
  'Mauritius': 103,
  'Mexico': 104,
  'Micronesia (Federated States of)': 105,
  'Mongolia': 106,
  'Montenegro': 107,
  'Morocco': 108,
  'Mozambique': 109,
  'Myanmar': 110,
  'Namibia': 111,
  'Nepal': 112,
  'Netherlands': 113,
  'New Zealand': 114,
  'Nicaragua': 115,
  'Niger': 116,
  'Nigeria': 117,
  'Norway': 118,
  'Oman': 119,
  'Pakistan': 120,
  'Panama': 121,
  'Papua New Guinea': 122,
  'Paraguay': 123,
  'Peru': 124,
  'Philippines': 125,
  'Poland': 126,
  'Portugal': 127,
  'Qatar': 128,
  'Republic of Korea': 129,
  'Republic of Moldova': 130,
  'Romania': 131,
  'Russian Federation': 132,
  'Rwanda': 133,
  'Saint Lucia': 134,
  'Saint Vincent and the Grenadines': 135,
  'Samoa': 136,
  'Sao Tome and Principe': 137,
  'Saudi Arabia': 138,
  'Senegal': 139,
  'Serbia': 140,
  'Seychelles': 141,
  'Sierra Leone': 142,
  'Singapore': 143,
  'Slovakia': 144,
  'Slovenia': 145,
  'Solomon Islands': 146,
  'Somalia': 147,
  'South Africa': 148,
  'Spain': 149,
  'Sri Lanka': 150,
  'Suriname': 151,
  'Swaziland': 152,
  'Sweden': 153,
  'Switzerland': 154,
  'Syrian Arab Republic': 155,
  'Tajikistan': 156,
  'Thailand': 157,
  'The former Yugoslav republic of Macedonia': 158,
  'Timor-Leste': 159,
  'Togo': 160,
  'Tonga': 161,
  'Trinidad and Tobago': 162,
  'Tunisia': 163,
  'Turkey': 164,
  'Turkmenistan': 165,
  'Uganda': 166,
  'Ukraine': 167,
  'United Arab Emirates': 168,
  'United Kingdom of Great Britain and Northern Ireland': 169,
  'United Republic of Tanzania': 170,
  'United States of America': 171,
  'Uruguay': 172,
  'Uzbekistan': 173,
  'Vanuatu': 174,
  'Venezuela (Bolivarian Republic of)': 175,
  'Viet Nam': 176,
  'Yemen': 177,
  'Zambia': 178,
  'Zimbabwe': 179},
 'Status': {'Developing': 0, 'Developed': 1}}